@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}

$font1: Allura, sans-serif;
$font2: Poppins, sans-serif;
$font3: Roboto, sans-serif;

$color1: white;
$color2: #a67245;
$colorBg1: #eeeeee;
$colorBg2: #21201e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}