@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  height: 100vh;
  background: url("../img/bg-slider-06.jpg") center/cover;
}
header nav {
  display: grid;
  grid-template-columns: 10% 70% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80px;
  width: 100%;
}
header nav h2 {
  color: white;
  font-family: Allura, sans-serif;
  text-align: right;
  font-size: 3.2rem;
  margin-right: 50px;
}
header nav .navbar {
  padding: 25px 25px;
}
header nav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}
header nav .navbar li {
  margin: 0 auto;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  position: relative;
}
header nav .navbar li::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -4px;
  height: 2px;
  background: white;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header nav .navbar li:hover::after {
  width: 100%;
}
header nav .navbar a {
  color: white;
}
header nav .nav-logos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}
header nav .nav-logos li {
  margin: 0 10px;
  font-size: 1.2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header nav .nav-logos li:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
header nav .nav-logos a {
  color: white;
}
header .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 65%;
}
header .titles h3 {
  color: #a67245;
  font-family: Allura, sans-serif;
  font-size: 3.5rem;
  font-weight: 200;
}
header .titles h1 {
  color: white;
  font-size: 5rem;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}
header .titles img {
  margin: 25px auto;
  width: 30px;
  height: auto;
}
header .titles p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.section-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: #eeeeee;
}
.section-1 .section-left {
  border: 1px dashed #a67245;
  margin: 10px 10px;
  background: #eeeeee;
}
.section-1 .section-left .title-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.section-1 .section-left .title-left h3 {
  font-family: Allura, sans-serif;
  font-size: 2.5rem;
  color: #a67245;
  font-weight: 300;
  text-align: end;
  text-align: center;
}
.section-1 .section-left .title-left h2 {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
}
.section-1 .section-left .title-left .img-left {
  padding: 20px;
}
.section-1 .section-left .title-left .img-left img {
  width: 30px;
  height: 30px;
}
.section-1 .section-left .title-left .p-left {
  width: 100%;
}
.section-1 .section-left .title-left .p-left p {
  font-family: Poppins, sans-serif;
  line-height: 20px;
  font-size: 1.2rem;
  font-weight: 100;
  text-align: center;
}
.section-1 .section-left .title-left .portrait-left {
  padding: 30px 0 15px 0;
  margin: 0 auto;
}
.section-1 .section-left .title-left .portrait-left img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}
.section-1 .section-left .title-left .name-left {
  margin: 0 auto;
}
.section-1 .section-left .title-left .name-left p {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 800;
}
.section-1 .section-left .title-left .role-left {
  margin: 0 auto;
}
.section-1 .section-left .title-left .role-left p {
  color: rgb(165, 164, 164);
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
}
.section-1 .section-right {
  background: url("../img/store-01.jpg") center/cover;
}

.section-2 {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding-bottom: 120px;
  background: #21201e;
  width: 100%;
}
.section-2::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 600px;
  position: absolute;
  background: url("../img/bg-menu-01.jpg") center/cover;
}
.section-2 .title {
  margin: 60px 0 20px 0;
}
.section-2 .title h3 {
  font-family: Allura, sans-serif;
  color: #a67245;
  font-size: 2.5rem;
  font-weight: 100;
}
.section-2 .logo-img {
  margin: 15px auto;
}
.section-2 .logo-img img {
  width: 30px;
  height: 30px;
}
.section-2 .nav-menu {
  width: 50%;
}
.section-2 .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.section-2 .nav-menu ul li {
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
  margin: 20px 0 35px 0;
  position: relative;
}
.section-2 .nav-menu ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid rgb(87, 85, 85);
  bottom: -9px;
  left: 0;
}
.section-2 .nav-menu ul li a {
  color: white;
}
.section-2 .menu {
  z-index: 1;
  width: 50%;
  padding-bottom: 20px;
  margin: 0 auto;
  background: #eeeeee;
  border-top: 4px solid #a67245;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "m1 m2" "m3 m4" "m5 m6" "m7 m8";
}
.section-2 .menu .menu-1 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m1;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-1 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-1 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-1 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-1 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-2 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m2;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-2 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-2 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-2 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-2 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-3 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m3;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-3 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-3 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-3 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-3 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-4 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m4;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-4 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-4 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-4 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-4 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-5 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m5;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-5 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-5 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-5 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-5 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-6 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m6;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-6 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-6 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-6 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-6 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-7 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m7;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-7 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-7 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-7 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-7 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-8 {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-area: m8;
  border-bottom: 1px dashed rgb(180, 175, 175);
  width: 90%;
  margin: 0 auto;
}
.section-2 .menu .menu-8 .menu-img img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.section-2 .menu .menu-8 .menu-composition h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
}
.section-2 .menu .menu-8 .menu-composition p {
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
  margin-top: 5px;
}
.section-2 .menu .menu-8 .menu-price p {
  margin: 0 10px;
  font-size: 1.5rem;
  color: #a67245;
  font-family: Poppins, sans-serif;
}

.section-3 {
  background: #21201e;
  display: grid;
  grid-template-columns: 15% 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
}
.section-3 .section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  padding: 10px 10px;
  width: 100%;
}
.section-3 .section-left .section-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px dashed white;
  padding: 10px;
  width: 100%;
}
.section-3 .section-left .section-left-container h3 {
  font-size: 2rem;
  font-family: Allura, sans-serif;
  color: #a67245;
  font-weight: 100;
}
.section-3 .section-left .section-left-container h4 {
  font-size: 1.1rem;
  color: white;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
}
.section-3 .section-left .section-left-container .logo-left {
  padding: 10px 0 10px 0;
}
.section-3 .section-left .section-left-container .logo-left img {
  width: 20px;
  height: 20px;
}
.section-3 .section-left .section-left-container .infos {
  gap: 50px;
}
.section-3 .section-left .section-left-container .infos .day1-left p,
.section-3 .section-left .section-left-container .infos .day1-left .title {
  text-transform: uppercase;
  color: #a67245;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  text-align: center;
}
.section-3 .section-left .section-left-container .infos .day1-left .time-day1-left {
  padding: 20px 0 10px 0;
}
.section-3 .section-left .section-left-container .infos .day1-left .time-day1-left p {
  color: white;
  font-size: 0.85rem;
  text-align: center;
}
.section-3 .section-left .section-left-container .infos .day2-left p,
.section-3 .section-left .section-left-container .infos .day2-left .title {
  text-transform: uppercase;
  color: #a67245;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  text-align: center;
}
.section-3 .section-left .section-left-container .infos .day2-left .time-day2-left {
  padding: 20px 0 10px 0;
}
.section-3 .section-left .section-left-container .infos .day2-left .time-day2-left p {
  color: white;
  font-size: 0.85rem;
  text-align: center;
}
.section-3 .section-left .section-left-container .infos .number-phone {
  padding: 30px 0 10px 0;
}
.section-3 .section-left .section-left-container .infos .number-phone p {
  color: #a67245;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  text-align: center;
}
.section-3 .section-right {
  background: #eeeeee;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-3 .section-right .title-right h3 {
  color: #a67245;
  font-size: 2rem;
  font-family: Allura, sans-serif;
  font-weight: 200;
  text-align: center;
}
.section-3 .section-right .title-right h4 {
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
.section-3 .section-right .logo-right {
  padding: 30px 0 50px 0;
}
.section-3 .section-right .logo-right img {
  width: 20px;
  height: 20px;
}
.section-3 .section-right .form {
  width: 80%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  outline: none;
  margin-bottom: 40px;
}
.section-3 .section-right .form input[type=text], .section-3 .section-right .form [type=date], .section-3 .section-right .form [type=time], .section-3 .section-right .form [type=tel], .section-3 .section-right .form [type=email], .section-3 .section-right .form select {
  background: transparent;
  border: none;
  height: 25px;
  width: 100%;
  border-bottom: 2px solid rgb(228, 224, 224);
  padding-bottom: 2px;
}
.section-3 .section-right .form input[type=text], .section-3 .section-right .form [type=date], .section-3 .section-right .form [type=time], .section-3 .section-right .form [type=tel], .section-3 .section-right .form [type=email], .section-3 .section-right .form select:focus {
  outline: none;
}
.section-3 .section-right .btn {
  padding: 10px 25px;
  background: #21201e;
  border: none;
  text-transform: uppercase;
  color: white;
  font-family: Poppins, sans-serif;
  border-radius: 50px;
  letter-spacing: 2px;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.section-3 .section-right .btn:hover {
  background: #a67245;
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #21201e;
  padding: 50px;
  width: 100%;
}
.section-4 .title-1 h3 {
  font-family: Allura, sans-serif;
  color: #a67245;
  font-size: 2.2rem;
  font-weight: 200;
  text-align: center;
}
.section-4 .title-2 h4 {
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.section-4 .logo {
  padding: 30px;
}
.section-4 .logo img {
  width: 30px;
  height: 30px;
}
.section-4 .container {
  display: grid;
  grid-template-columns: 35% 22%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 50px;
  width: 100%;
}
.section-4 .container .date {
  height: 70px;
  width: 70px;
}
.section-4 .container .date p {
  background: rgb(19, 18, 18);
  width: 100%;
  height: 100%;
  color: white;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-size: 0.9rem;
  padding: 15px;
}
.section-4 .container .date p span {
  font-size: 1.5rem;
  font-weight: 100;
}
.section-4 .container .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 15px;
  max-width: 100%;
}
.section-4 .container .container-left .container-1 {
  display: grid;
  grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.section-4 .container .container-left .container-1 .container-date1 {
  min-height: 150px;
  min-width: 150px;
  background: url("../img/event-01.jpg") center/cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-4 .container .container-left .container-1 .container-info {
  height: 100%;
  background: #eeeeee;
  min-height: 150px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.section-4 .container .container-left .container-1 .container-info h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 20px 0 20px 20px;
}
.section-4 .container .container-left .container-1 .container-info p {
  font-family: Roboto, sans-serif;
  color: grey;
  font-size: 0.85rem;
  padding: 0 0 20px 10px;
}
.section-4 .container .container-left .container-1 .container-info span {
  margin: 0 5px;
}
.section-4 .container .container-left .container-1 .container-info a {
  font-family: Roboto, sans-serif;
  color: #21201e;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0 0 20px;
  font-size: 0.9rem;
}
.section-4 .container .container-left .container-2 {
  display: grid;
  grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}
.section-4 .container .container-left .container-2 .container-date2 {
  min-height: 150px;
  min-width: 150px;
  background: url("../img/event-02.jpg") center/cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-4 .container .container-left .container-2 .container-info {
  height: 100%;
  background: #eeeeee;
  min-height: 150px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.section-4 .container .container-left .container-2 .container-info h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  padding: 20px 0 20px 20px;
}
.section-4 .container .container-left .container-2 .container-info p {
  font-family: Roboto, sans-serif;
  color: grey;
  font-size: 0.85rem;
  padding: 0 0 20px 10px;
}
.section-4 .container .container-left .container-2 .container-info span {
  margin: 0 5px;
}
.section-4 .container .container-left .container-2 .container-info a {
  font-family: Roboto, sans-serif;
  color: #21201e;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0 0 20px;
  font-size: 0.9rem;
}
.section-4 .container-right {
  background: url("../img/event-03.jpg");
  height: 100%;
  width: 100%;
  position: relative;
}
.section-4 .container-right .container-3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eeeeee;
  margin: 20px;
  min-height: 290px;
}
.section-4 .container-right .container-3 .container-date3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-4 .container-right .container-3 .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eeeeee;
  min-height: 150px;
  padding-top: 10px;
}
.section-4 .container-right .container-3 .container-info h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 100;
  max-width: 90%;
  padding-top: 15px;
  display: inline-block;
  text-align: center;
}
.section-4 .container-right .container-3 .container-info p {
  font-family: Roboto, sans-serif;
  color: grey;
  font-size: 0.85rem;
  text-align: center;
  display: inline-block;
  padding-bottom: 15px;
}
.section-4 .container-right .container-3 .container-info span {
  margin: 0 5px;
}
.section-4 .container-right .container-3 .container-info a {
  position: absolute;
  bottom: 30px;
  left: 0;
  display: inline-block;
  width: 100%;
  font-family: Roboto, sans-serif;
  color: #21201e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

.section-5 {
  background: #21201e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 70px 0;
  position: relative;
}
.section-5::after {
  content: "";
  position: absolute;
  background: url("../img/gmap.jpg") center/cover;
  top: 150px;
  height: 350px;
  width: 100%;
}
.section-5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  max-width: 50%;
  background: #eeeeee;
  z-index: 1;
}
.section-5 .container .portrait img {
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: auto;
  border-radius: 50px;
}
.section-5 .container .paragraph {
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
  max-width: 85%;
  padding: 50px 0 25px 0;
}
.section-5 .container span {
  margin: 0 5px;
  font-size: 1.5rem;
}
.section-5 .container .name {
  padding: 0 0 10px 0;
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 100;
}
.section-5 .container .role {
  color: #a67245;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  padding-bottom: 50px;
  font-weight: 100;
}/*# sourceMappingURL=index.css.map */