footer {
  background: url("../img/bg-footer.jpg") center/cover;
  width: 100%;
  height: 100%;
  .container-footer {
    display: grid;
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-content: center;
    .footer-left-container {
      display: flex;
      align-items: center;
      justify-content: end;
      .footer-left {
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        h3 {
          padding: 50px 0 15px 0;
          font-size: 2.5rem;
          font-family: $font1;
          color: $color2;
          font-weight: 100;
          text-align: left;
        }
        p {
          text-align: left;
          padding: 10px 0 50px 0;
          text-align: left;
          font-size: 1rem;
          line-height: 25px;
          color: grey;
          font-family: $font2;
          font-weight: 100;
          max-width: 80%;
        }
      }
    }
    .footer-right {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin-left: 50px;
      .newsletter {
        text-transform: uppercase;
        color: $color1;
        font-family: $font2;
        font-size: 1.2rem;
        margin-top: 10px;
        p {
          margin-bottom: 15px;
        }
        input {
          background: transparent;
          height: 15px;
          width: 250px;
          border: 1px solid $color2;
          padding: 15px 50px 15px 15px;
          font-size: 1.2rem;
          margin-bottom: 40px;
        }
      }
      .footer-logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 50%;
        p {
          color: $color1;
          font-family: $font2;
          font-size: 1.2rem;
          text-transform: uppercase;
        }
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          li {
            margin: 0 20px;
            font-size: 1.1rem;
            a {
              color: grey;
            }
          }
        }
      }
    }
  }
}
