header {
  height: 100vh;
  background: url("../img/bg-slider-06.jpg") center/cover;
  nav {
    h2 {
      color: white;
      font-family: $font1;
      text-align: right;
      font-size: 3.2rem;
      margin-right: 50px;
    }
    display: grid;
    grid-template-columns: 10% 70% 10%;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    .navbar {
      padding: 25px 25px;
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
      }
      li {
        margin: 0 auto;
        font-size: 1.1rem;
        text-transform: uppercase;
        font-family: $font3;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 0%;
          left: 0;
          bottom: -2px;
          height: 1px;
          background: white;
          transition: 0.2s ease-in-out;
        }
        &:hover::after{
          width: 100%;
        }
      }
      a {
        color: white;
      }
    }
    .nav-logos {
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
      }
      li {
        margin: 0 10px;
        font-size: 1.2rem;
        transition: .2s;
        &:hover {
          transform: translateY(-2px);
        }
      }
      a {
        color: white;
      }
    }
  }
  .titles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65%;
    h3 {
      color: $color2;
      font-family: $font1;
      font-size: 3.5rem;
      font-weight: 200;
    }
    h1 {
      color: $color1;
      font-size: 5rem;
      font-family: $font2;
      text-transform: uppercase;
      letter-spacing: 8px;
    }
    img {
      margin: 25px auto;
    }
    p {
      color: $color1;
      font-family: $font3;
      font-size: 1.1rem;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  }
}
