.section-5 {
  background: $colorBg2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 230px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background: url("../img/gmap.jpg") center/cover;
    top: 140px;
    height: 350px;
    width: 100%;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    max-width: 50%;
    background: $colorBg1;
    z-index: 1;

    .portrait {
      img {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: auto;
        border-radius: 50px;
      }
    }
    .paragraph {
      font-size: 1.2rem;
      text-align: center;
      line-height: 25px;
      max-width: 85%;
      padding: 50px 0 25px 0;
    }
    span {
      margin: 0 5px;
      font-size: 1.5rem;
    }
    .name {
      padding: 0 0 10px 0;
      font-size: 1.5rem;
      font-family: $font2;
      font-weight: 100;
    }
    .role {
      color: $color2;
      font-size: 1rem;
      font-family: $font2;
      padding-bottom: 50px;
      font-weight: 100;
    }
  }
}
